<% provide :page_title, t("book.edit.title") %>
<% provide :button_text, t("book.edit.update") %>
<h1 class="text-xl font-semibold"><%= t("book.edit.title") %></h1>
<div class="w-full max-w-lg bg-white p-8 shadow-xl rounded-xl mx-auto">
  <%= render "form", book: @book, url: admin_book_path(@book), method: :patch %>
</div>
