<h1><% t "user_mailer.due_reminder.subject" %></h1>
<p><%= t "user_mailer.due_reminder.hello", name: @user.name %>, </p>
<p><%= t "user_mailer.due_reminder.message", due_date: @due_date %></p>
<p><%= t "user_mailer.due_reminder.thanks" %></p>
