<% provide :title, t("author.edit.title") %>
<% provide :button_text, t("author.edit.update") %>
<h1 class="text-xl font-semibold"><%= t("author.edit.title") %></h1>
<div class="w-full max-w-lg bg-white p-8 shadow-xl rounded-xl mx-auto">
  <%= render "form", author: @author, url: admin_author_path(@author), method: :patch %>
</div>
