<%= link_to author_path(author), class:"px-4 py-2 flex items-center justify-center text-center hover:bg-primary hover:text-white duration-500 bg-card rounded-xl" do %>
  <p class="italic text-xl"><%=  author.name %></p>
<% end %>
