<div data-controller="star-rating" class="flex gap-x-3  ">
  <i data-action="mouseover->star-rating#highlightStars mouseout->star-rating#resetStars" data-star-rating-target="star" class="bi bi-star-fill text-3xl text-gray-400 cursor-pointer"></i>
  <i data-action="mouseover->star-rating#highlightStars mouseout->star-rating#resetStars" data-star-rating-target="star" class="bi bi-star-fill text-3xl text-gray-400 cursor-pointer"></i>
  <i data-action="mouseover->star-rating#highlightStars mouseout->star-rating#resetStars" data-star-rating-target="star" class="bi bi-star-fill text-3xl text-gray-400 cursor-pointer"></i>
  <i data-action="mouseover->star-rating#highlightStars mouseout->star-rating#resetStars" data-star-rating-target="star" class="bi bi-star-fill text-3xl text-gray-400 cursor-pointer"></i>
  <i data-action="mouseover->star-rating#highlightStars mouseout->star-rating#resetStars" data-star-rating-target="star" class="bi bi-star-fill text-3xl text-gray-400 cursor-pointer"></i>
</div>
