@import "shadcn.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-header {
    background: linear-gradient(0deg,   
        rgb(243, 236, 228),
        rgb(243, 236, 228));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
}

.pagy {
    display: flex;
    font-family: sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: white;
  }
  .pagy > :not([hidden]) ~ :not([hidden]) {
    --space-reverse: 0;
    margin-right: calc(0.25rem * var(--space-reverse));
    margin-left: calc(0.25rem * calc(1 - var(--space-reverse)));
  }
  .pagy a:not(.gap) {
    display: block;
    text-decoration: none;
    border-radius: 0.5rem;
    background-color: #b58151;
    padding: 0.25rem 0.75rem;
    color: inherit;
  }
  .pagy a:not(.gap):hover {
    background-color: #c79261;
  }
  .pagy a:not(.gap):not([href]) { /* disabled links */
    cursor: default;
    background-color: #b58151;
    color: #d1d5db;
  }
  .pagy a:not(.gap).current {
    background-color: #603813;
    color: white;
  }
  .pagy label {
    white-space: nowrap;
    display: inline-block;
    border-radius: 0.5rem;
    background-color: #e5e7eb;
    padding: 0.125rem 0.75rem;
  }
  .pagy label input {
    line-height: 1.5rem;
    border-radius: 0.375rem;
    border-style: none;
    background-color: #f3f4f6;
  }
